{% extends "base.html" %}
{% block title %}
  Обучающий центр дополнительного образования - Курсы
{% endblock %}
{% block content %}
  <div id="content">
    <h1>Действующие программы</h1>
    <p>Расписание актуально на {{ date }}</p>
    <table>
    <tr class="head">
      <th></th>
      <th>1-й поток</th>
      <th>2-й поток</th>
      <th>3-й поток</th>
    </tr>
    <tr>
      <th>Основы Python</th>
      <td>1 мая 2022<br />08:00 - 15:00</td>
      <td>10 мая 2022<br />08:00 - 15:00</td>
      <td>25 мая 2022<br />08:00 - 15:00</td>
    </tr>
    <tr class="even">
      <th>Алгоритмы и структуры данных на Python</th>
      <td>1 октября 2022<br />08:00 - 15:00</td>
      <td>1 ноября 2022<br />08:00 - 15:00</td>
      <td>1 декабря 2022<br />08:00 - 15:00</td>
    </tr>
    <tr>
      <th>Основы Git</th>
      <td>1 июня 2022<br />08:00 - 15:00</td>
      <td>15 июня 2022<br />08:00 - 15:00</td>
      <td>1 июля 2022<br />08:00 - 15:00</td>
    </tr>
    <tr class="even">
      <th>Основы ООП на Python</th>
      <td>1 сентября 2022<br />08:00 - 15:00</td>
      <td>1 октября 2022<br />08:00 - 15:00</td>
      <td>1 ноября 2022<br />08:00 - 15:00</td>
    </tr>
    </table>
  </div>
{% endblock %}

